---
import Layout from '../layouts/Layout.astro';
import BackgroundLayers from '../components/BackgroundLayers.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Philosophy from '../components/Philosophy.astro';
import Mechanism from '../components/Mechanism.astro';
import Vision from '../components/Vision.astro';
import Support from '../components/Support.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <BackgroundLayers transition:name="page-bg" />
  <Navbar />
  <main>
    <Hero />
    <Philosophy />
    <Mechanism />
    <Vision />
    <Support />
  </main>
  <Footer />
</Layout>
